@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <div class="form-group row">
        @Html.LabelFor(model => model.SearchString, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.SearchString, new { @class = "form-control", placeholder = "Enter book title" })
        </div>
        <div class="col-sm-12 mt-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageCount)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
        </tr>
    }
    </tbody>
</table>